<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
      <connectionStrings>
      <add name="B2BConnectionString" providerName="System.Data.SqlClient"
            connectionString="Data Source=SERVER02\mobi2019;Initial Catalog=Tambour_B2B;User ID=sa;Password=wiz" />
   </connectionStrings>  
	<appSettings>
		<add key="ImageFolder" value="C:\\Development\\SyncImagesDotNet\\SyncImages\\Images"/>
		<add key="BannerFolder" value="C:\\Development\\SyncImagesDotNet\\SyncImages\\Banners"/>
		<add key="ThumbFolder" value="C:\\Development\\SyncImagesDotNet\\SyncImages\\Thumb"/>
		<add key="UpdateImagesURL" value="http://194.90.156.5:5500/auth/UpdateImages2"/>
    <add key="GetImagesWithDatesURL" value="http://194.90.156.5:5500/auth/GetImagesWithDates2"/>
		<add key="DeleteFile" value="true"/>
    <add key="LinuxImagesFolder" value="img/items"/>
    <add key="LinuxThumbsFolder" value="thumb"/>
    <add key="CallUpdateOnly" value="true"/>
	</appSettings>
</configuration>